<div class="container ">
  <div class="py-5 text-center">
    <h2 class="fs-2">Welcome</h2>
    <p class="lead">to our Cost Estimation Packages</p>
  </div>
  <div class="cards d-flex justify-content-center gap-3">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/images/order-now-banner_52683-48697.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title fs-3 text-center">10 x Quotes</h5>
        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="text-center">
          <button (click)="checkout(100)" class="btn btn-primary btn-block">Pay $100</button>
        </div>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/images/order-now-banner_52683-48697.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title fs-3 text-center">20 x Quotes</h5>
        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="text-center">
          <button (click)="checkout(150)" class="btn btn-primary btn-block">Pay $150</button>
        </div>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/images/order-now-banner_52683-48697.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title fs-3 text-center">30 x Quotes</h5>
        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="text-center">
          <button (click)="checkout(200)" class="btn btn-primary btn-block">Pay $200</button>
        </div>
      </div>
    </div>
  </div>
  