@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


*{
  font-family:'Neuton', serif;
  font-weight:490;
  font-size:23px;
  letter-spacing: 0.5pt;
  word-spacing: 2pt;
 
}

.container{
  background-color: white;
max-width: 75%;
}

.head-banner p{
  text-align: center;
}
.navbar{
  background-color: #c4bceb;

}
.text-block {
    border-radius: 15px;
 
    background: linear-gradient( rgb(61, 89, 122) 50%, rgb(17, 36, 61));
    color:rgb(255, 255, 255);
     padding: 30px 30px;
     transform: translate(-10%, -10%);
  }
  .text-block h4{
    text-align: center;
    margin-bottom: 1px;
  }
  #floatingSelect{
    margin-top: 30px;

  }
  select{
      width:300px; 
       height:50px;
     margin:10px;
    border-radius:30px;
  
  }
  option{
      border-radius: 10px;
  }

  .border{
    border: 2px solid rgb(253, 248, 248);
    
  }

@media screen and (min-width:500px) {
  .img-fluid{
    width: 100%;
    height: auto;
    display:block;
  }
  .img-fluid1{
    width: 400px;
    height: auto;
    display:block;
    margin: 30px 50px;
  }
  .img-fluid-temp{
    width: 20%;
    height: auto;
    display:block;
}
.img-fluid-warn{
  width: 20%;
  height: auto;
  display:block;
}
}
@media screen and (max-width:500px) {
  .img-fluid{
    width: 110%;
    height: auto;
    display:block;
  }
  .img-fluid1{
    width: 100%;
    height: auto;
    display:block;
    margin: 30px 0px;
  }
  .img-fluid-temp{
    width: 25%;
    height: auto;
    display:block;
}
.img-fluid-warn{
  width: 50%;
  height: auto;
  display:block;
}
.text-block {
 
  margin: 30px 10px;
  margin-left: 90px;
}

}
.text-block{
  border: 1px;
  border-radius: 30px;
  background-color:linear-gradient(rgb(80, 75, 116),rgb(135, 200, 209));
}
.container1{

    max-width: 100%;
    margin: auto;
    height: 600px;
    background-image: url("https://atemplate.com.ng/wp-content/uploads/2020/06/Service-Finder-Provider-and-Business-Listing-WordPress-Theme-1024x414.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.carousel-container {
  margin-top: 40px;
  background-image: linear-gradient(to right, #000428, #004e92)
}

.carousel-item img {
  width: 100%;
  height: 300px;
  object-fit: cover
}

.banner-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  color: black
}

.carousel-indicators li {
  height: 0.8rem;
  width: .8rem;
  border-radius: 50%;
  background-color: white
}

/* .container2{

  max-width: 1350px;
  margin: auto;
  background-color: white;
  padding-left: 20px;
  padding-right: 10px;
}
.container3{
  max-width: 1350px;
  margin: auto;
  background-color: white;
  padding-left: 20px;
  padding-right: 5px;
} */

.container4{
 
  background: linear-gradient(rgb(80, 75, 116),rgb(135, 200, 209));
  
}
#button-color{
  border-radius: 40px;
    background:linear-gradient(to left, rgb(23, 60, 226) , rgb(65, 173, 223) );
    padding: 3px 40px;
    color: rgb(251, 251, 251);
    border-color: darkblue;
}
#button-color:hover{
  background:linear-gradient(to left, rgb(9, 30, 126) , rgb(19, 84, 114) );
  border: 1px solid rgb(58, 17, 124);
}

div.gap-5:hover{
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.287);
  transform: scale(1.3rem);
}


.animation {

  justify-content: center;
  justify-items: center;
}


.container {
  margin-top: 100px
}

.container .row .col-lg-4 {
  display: flex;
  justify-content: center
}

.card {
  position: relative;
  padding: 0;
  margin: 0 !important;
  border-radius: 20px;
  overflow: hidden;
  max-width: 280px;
  max-height: 340px;
  cursor: pointer;
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2)
}

.card .card-image {
  width: 100%;
  max-height: 340px
}

.card .card-image img {
  width: 100%;
  max-height: 340px;
  object-fit: cover
}

.card .card-content {
  position: absolute;
  bottom: -180px;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  min-height: 140px;
  width: 100%;
  transition: bottom .4s ease-in;
  box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.2)
}

.card:hover .card-content {
  bottom: 0px
}

.card:hover .card-content h4,
.card:hover .card-content h5 {
  transform: translateY(10px);
  opacity: 1
}

.card .card-content h4,
.card .card-content h5 {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  transition: 0.8s;
  font-weight: 500;
  opacity: 0;
  transform: translateY(-40px);
  transition-delay: 0.2s
}

.card .card-content h5 {
  transition: 0.5s;
  font-weight: 200;
  font-size: 0.8rem;
  letter-spacing: 2px
}

.card .card-content .social-icons {
  list-style: none;
  padding: 0
}

.card .card-content .social-icons li {
  margin: 10px;
  transition: 0.5s;
  transition-delay: calc(0.15s * var(--i));
  transform: translateY(50px)
}

.card:hover .card-content .social-icons li {
  transform: translateY(20px)
}

.card .card-content .social-icons li a {
  color: #fff
}

.card .card-content .social-icons li a span {
  font-size: 1.3rem
}

@media(max-width: 991.5px) {
  .container {
      margin-top: 20px
  }

  .container .row .col-lg-4 {
      margin: 20px 0px
  }
}

