<div class="container">
  
  <div class="container1 mt-5">
    <div class="backgrnd">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8" >
        <h1 class="text mt-4"><strong>COST ESTIMATION RESPONSE</strong></h1>
    <form class="form mt-5" #fbForm="ngForm" (ngSubmit)="submit(fbForm)">


          <div class="form-group mb-6">
            <label>Please Give the User a Detailed Description For The Costs</label>
            <textarea style="" type="text" class="form-control " id="description" placeholder="description" name="description" ngModel>Description
            </textarea>
          </div>

          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="cost" placeholder="cost" name="cost" ngModel>
            <label for="cost" class="usertext">TOTAL COST</label>
          </div>

<br>
          <div class="text-center mb-3">
            <button class="btn btn-style  ms-auto" value="submit"> Ask For Cost Estimation </button>
          </div>
    </form>
  </div>
  
  </div>