
  .background{
    background-image: url("../../assets/images/pexels-benjamin-white-5313208.jpg");
     height: 800px;
     background-size: cover;
     background-position: center;
    }
 
  .container {
      text-align: center;
  }

  h2{ 
    color: white;
    background-color: black;
    padding: 20px;
  }
 