<div class="container">
    <div class="row">
        <div class="text-center m-4"><h1>Successfully Placed Order</h1></div>
        <div>
        <div class="text-center"><img class="border rnd" src="../../assets/images/professiona.jpg"
            ><p><strong> PLEASE WAIT </strong></p></div>

        <div class="text-center border rounded-3 " style="margin: 100px ; padding:50px; background-color: rgb(141, 243, 141);"><h2>Total Price Paid: {{totalprice| currency:'TND'}}</h2></div>
    </div>
    </div>
</div>
