<div class="container main">
    <div class="row mt-5">
        <div class="col-2 col-md-3">
            <h4>Welcome {{username}}!!</h4>
        </div>
        <div class="col-3 col-md-4"></div>
        
       <div class="cart-container col-2 col-md-2  ">
        <div class="cart"><button class="btn btn-primary1 " (click)="bookings()"><span class="cart-hide">My Bookings </span><i class="fas fa fa-shopping-cart fa-lg"></i></button></div>
          <div class="cart-basket d-flex align-items-center justify-content-center">
           {{numberofitems}}
          </div></div>
          <div class="col-2 col-md-0"></div>
        <div class="col-2 col-md-1  ">
           <button class="bttnout" (click)="logout()">Logout</button>
        </div> </div>
        <div class="row">
          <div class="col-3"></div>
          <div class="col-6">
            <div class="form-floating mt-5">
              <input type="text" class="form-control" id="searchbox" [(ngModel)]="mainservicename" (input)="search()">
              <label for="searchbox" class="form-label">search</label>
              
          </div>
        </div>
    </div>
    </div>
    <div class="row">
      <div class="col-10 mx-4 col-md-2 mx-md-3 ">
      
          <aside class="sidenav ">
            <form  #ref="ngForm" (ngSubmit)="searchcategory(ref)">
            <div *ngFor="let category of maincategories">
             <a> <input type="checkbox" class="form-check-inline" [id]="category" [value]="category" [name]="category" ngModel >
                <label [for]="category">{{category}}</label></a>
        
            </div>
            <div class="text-center"><button class="filter btn btn-secondary">FILTER</button></div>
          </form>
          </aside>
      
      </div>
      <div class="col-8">
    <div class="d-flex flex-wrap justify-content-evenly mx-5 m-md-3" >
      <div class="col-12 col-md-6 col-lg-4" *ngFor="let service of servicesArray">
        <div class="card mt-3 m-md-5" >
            <img [src]="service?.image"  class="card-img-top" alt="...">
            <div class="card-body" >
              <h4 class="card-title text-center"><b>{{service?.subservice}}</b></h4>
              <h5 class="card-text text-center ">Price: {{service?.price}}</h5>
              <p class="card-description text-center">{{service?.discreption}}</p>
              <div class="text-center">
                <button class="bttnadd" (click)="addtocart(service)">ADD</button>
                
              </div>
              
              
            </div>
          </div>
      </div>
    </div></div>
  </div>
 
  
