<div class="container border-bottom bg-white mt-1 pt-md-3 pt-2">
  <div class="d-flex flex-md-row justify-content-around align-items-center">
      <div class="d-flex flex-md-row align-items-center">
          <div class="p-md-2 p-1" id="info">
            <div class="text-muted">Welcome Dear :</div>
            <h5>{{username}}</h5>
          </div>
      </div>
      <div class="d-flex flex-column" id="info">
          <div class="p-md-1 text-muted"> <span class="fa fa-envelope-o bg-light p-1 rounded-circle"></span> {{email}}</div>
          <div class="p-md-1 pt-sm-1 text-muted"> <span class="fa fa-phone bg-light p-1 rounded-circle"></span> +(216) {{phone}}</div>
          
      </div>
  
  </div>
  
</div>
<div class="pl-lg-5 pt-lg-2 pt-md-1">
   <div class="container h-100">
    <div class="d-flex justify-content-center h-100 gap-2">
      <button type="button" class="btn btn-success" (click)="bookings()"><span class="cart-hide">My Bookings </span><i class="fas fa-shopping-cart"></i></button>
      <button type="button" class="btn btn-primary" (click)="askforcost()"><span class="cart-hide">Cost Requests </span></button>
      <div class="searchbar">
        <input class="search_input" type="text" name="" placeholder="Search..."  [(ngModel)]="mainservicename" (input)="search()">
        <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
      </div>
    </div>
  </div>
  
</div>


<div class="container main">
    <div class="row mt-5">
       
       
        <!-- <div class="row">
          <div class="col-3"></div>
          <div class="col-6">
            <div class="form-floating mt-5">
              <input type="text" class="form-control" id="searchbox" [(ngModel)]="mainservicename" (input)="search()">
              <label for="searchbox" class="form-label">search</label>
              
          </div>
        </div>
    </div> -->
    </div>
    <div class="row">
      <div class="col-14 mx-8 col-md-3 mx-md-3 ">
      
          <aside class="sidenav ">
            <form  #ref="ngForm" (ngSubmit)="searchcategory(ref)">
            <div *ngFor="let category of maincategories">
             <a> <input type="checkbox" class="form-check-inline" [id]="category" [value]="category" [name]="category" ngModel >
                <label [for]="category" class="fs-5">{{category}}</label></a>
        
            </div>
            <div class="text-center"><button class="filter btn btn-light m-3">FILTER</button></div>
          </form>
          </aside>
      
      </div>
      <div class="col-8">
    <div class="d-flex flex-wrap justify-content-evenly mx-3 m-md-1" >
      <div class="col-12 col-md-6 col-lg-4" *ngFor="let service of servicesArray">
        <div class="card mt-5 m-md-8" >
            <img [src]="service?.image"  class="card-img-top" alt="...">
            <div class="card-body" >
              <h4 class="card-title text-center "><b><strong class ="strongx">{{service?.name}}</strong></b></h4>
              <h4 class="card-text text-center strongy "><b class ="strongy"> {{service?.cost}} DT/H</b></h4>
              <p class="card-description text-center strongz">{{service?.description}}</p>
              <div class="text-center">

                <button type="button" class="btn btn-success" (click)="addtocart(service)"><span class="cart-hide">ADD </span></button>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  </div>