  
*{
  font-family:'Neuton', serif;
  font-weight:500;
  font-size:23px;
  letter-spacing: 0.5pt;
  word-spacing: 1pt;
 
}

#searchbox{
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.287);
    padding: 10px 30px;
    margin:0 -20px;
    border:1px solid white;
}
.card-text{
  font-size: 20px;

}
.sidenav {
    border-radius: 20px;
  
    
    background: rgb(46, 72, 78);
    margin-top: 200px;
    padding: 30px 40px;

  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #fbfdff;
    display: block;
  }
  
  .sidenav a:hover {
    color: #4dd4ce;
  }
  
  @media screen and (max-width: 450px) {
    .sidenav {padding-top: 15px;
    margin-top: 20px;}
    .sidenav a {font-size: 18px;}
    .card,
    .card-img-top,
    .card-body,
    .card-title,
    .card-img-top{
      width: 250px;
      height: auto;
    }
  
  }
  @media screen and (min-width: 500px) {
    
  }
  .filter{
      margin-top: 50px;
      border:1px solid #b0e2e9;
      background-color: rgb(8, 53, 65);
      border-radius: 30px;
      padding:5px 60px;
      color: #fbfdff;
  }
  .filter:hover{
    background-color: rgb(37, 116, 138);
  }
  footer{
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
  }
 .cart:hover {
  
    text-decoration: none;
    color: #d60e96;
  }
  .cart-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "overlap";
  }
  .cart{
    grid-area: overlap;
  }
 .cart-basket {
   font-size: 1.3rem;
   grid-area: overlap;
   align-self:top ;
   justify-self: right;
   width: 15px;
   height: 15px;
   color: rgb(255, 255, 255);
   background-color: rgb(32, 129, 23);
   padding: 15px;
   border-radius: 50%;
  
  }
  .fa,
.fas {
  font-family: 'FontAwesome';
}
.btn-primary1{
  background:linear-gradient( rgb(92, 226, 115) , rgb(5, 126, 182) );
  border: 1px solid #39e247;
  border-radius: 30px;
  color:rgb(248, 242, 242);
}
.btn-primary1:hover,
.bttnadd:hover{
  background:linear-gradient( rgb(92, 226, 115) , rgb(36, 119, 33) ); 
}
.bttnadd{
  color:rgb(248, 242, 242);
  padding: 6px 30px;
  background:linear-gradient(#086575,#39e247);
  border-radius: 30px;
  border: 1px solid #39e247;
}
.bttnout{
  border-radius: 30px;
  background-color: rgb(158, 8, 8);
  color: rgb(250, 248, 248);
  border: 1px solid rgb(158, 8, 8) ;
  padding: 7px 20px;
}
.bttnout:hover{
  background-color: rgb(235, 60, 60);  
}