<div class="container">
  
  <div class="container1 mt-5">
    <div class="backgrnd">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8" >
        <h1 class="text mt-4"><strong>COST ESTIMATION REQUEST</strong></h1>
    <form class="form mt-5" #fbForm="ngForm" (ngSubmit)="submit(fbForm)">
      <label>Please Choose The Main Service You Need</label>
          <div class="form-floating mb-3" >
            <select type="text" class="form-control" id="service" placeholder="mainservice" name="service" ngModel>
              <option [value]="service" *ngFor="let service of services">{{service}}</option>
              </select>
            <label for="main_service" class="usertext">Main Service</label>
          </div>

          
          <label>Your City ?</label>
          <div class="form-floating mb-3" >
            <input type="text" class="form-control" id="city" placeholder="city" name="city" ngModel>
            <label for="city" class="usertext">city</label>
          </div>


          <div class="form-group mb-6">
            <label>Please Give Us a Detailed Description For Your Need</label>
            <textarea type="text" class="form-control " id="description" placeholder="description" name="description" ngModel>Description
           
            </textarea>
          </div>


         <div class="form-group mb-3" >
            <label for="uploadphoto" class="form-label">
              <input type="file" class="form-control" id="uploadphoto" (change)="incomingfile($event)" name="image" accept="image/*" placeholder="Upload file">
            </label>
          </div>  
<br>
          <div class="text-center mb-3">
            <button class="btn btn-style  ms-auto" value="submit"> Ask For Cost Estimation </button>
          </div>
    </form>
  </div>
  
  </div>

  <div class="container">
    <div class="m-4 text-center">
      <button class="btn button-edit " type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Check Responses About Cost Estimation Demands
      </button></div>
    </div>
    <br>
    <br>
 
    <div class="collapse" id="collapseExample">
      <br>
      <div class="col-lg-4" *ngFor="let answer of costanswersArray">
        <div class="card card-margin">
            <div class="card-body pt-0">
                <div class="widget-49">
                    <div class="widget-49-title-wrapper">
                        <div class="widget-49-date-primary">
                            <span class="widget-49-date-day">{{answer.date.substring(0, 1)}}</span>
                            <span class="widget-49-date-month">Aug</span>
                        </div>
                        <div class="widget-49-meeting-info">
                            <span class="widget-49-pro-title">please check the answer of <strong>{{answer.spname}}</strong> </span>
                            <span class="widget-49-meeting-time">{{answer.date}}</span>
                        </div>
                    </div>
          <h3 style="margin-left: 90px;">{{answer.description}}</h3><br>
          <h3 style="margin-left: 90px;">TOTAL COST : {{answer.total}}</h3>
                    <div class="widget-49-meeting-action">
                        <a  class="btn btn-sm btn-primary">Accept Offer</a>
                        <a  class="btn btn-sm button-delete">Decline Offer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <br>
    <br>