

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #373aee;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }
  footer{
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
  }
  .ng-valid:not(form){
    border-left: 5px solid #42A948; /* green */
    
  }
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
    content:url(/src/assets/images/Screenshot\ 2021-03-30\ 113508.png);
  }
  .btn-add{
   color: beige;
  border-radius: 50px;
  padding: 13px 20px;
  background-color: rgb(50, 139, 50);
  border: rgb(20, 148, 3);
  }
  .btn-add:hover{
   background-color: rgb(85, 202, 85);
   border: rgb(20, 78, 13);
   }
  .btn-danger{
    padding:10px 20px;
    border: 1px solid rgb(207, 70, 70);
    border-radius: 30px;
  }
  .btn-remove{
    color: beige;
    border-radius: 70px;
    padding: 13px 22px;
    background-color: rgb(214, 61, 61);
    border: rgb(126, 0, 0);
  }
  .btn-remove:hover{
    background-color: rgb(161, 38, 38);
    border: rgb(71, 24, 24);
    }