
<div class="container">
    <div id="carousel">
        <figure><img src="../../assets/images/carousel 1.jpg"></figure>
        <figure><img src=" ../../assets/images/carousel 2.jpg"></figure>
        <figure><img src="../../assets/images/carousel 3.png"></figure>
        <figure><img src="../../assets/images/carousel 4.png"></figure>
        <figure><img src="https://i.imgur.com/YCkeccD.jpg"></figure>
        <figure><img src="https://i.imgur.com/RcZr6TR.jpg"></figure>
        <figure><img src="https://i.imgur.com/ZCeK0MQ.jpg"></figure>
        <figure><img src="https://i.imgur.com/DjwL2R8.jpg"></figure>
        <figure><img src="https://i.imgur.com/ZCeK0MQ.jpg"></figure>
    </div>
</div>