*{
    font-family:'Neuton', serif;
    font-weight:500;
    font-size:20px;
    letter-spacing: 0.5pt;
    word-spacing: 1pt;
   
  }

  .bg-color{
    background-image: url(../../assets/images/Hometools.jpg);
    background-repeat: no-repeat;
   background-size: cover;
   height: 800px;

  }