<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="assets/imgs/favicon.png" type="image" sizes="16x16">
<img class="logo" src="assets/imgs/logo.png">

<div class="container">
  <div class="admin-text">  <h3>Reviews</h3><a class="btn"  [routerLink]="['/feedbackform']"><i class="fa fa-comment-o"></i>&nbsp;Write Review</a>
    <p style="text-align:left;color:grey;">{{count}} Reviews</p>
    <br>
  
    <p >This is the website review for a website lorem ipsum lorem ipsum lorem ipsum. This is the website review for a website lorem ipsum lorem ipsum lorem ipsum. This is the website review for a website lorem ipsum lorem ipsum lorem ipsum. This is the website review for a website lorem ipsum lorem ipsum lorem ipsum. This is the website review for a website lorem ipsum lorem ipsum lorem ipsum. This is the website review for a website lorem ipsum lorem ipsum lorem ipsum. This is the website review for a website lorem ipsum lorem ipsum lorem ipsum. </p>
  </div>
<div class="card" *ngFor="let rev of reviews">
  <div class="card-body clearfix">

    <div class="card-left">
      <img class="card-img" src="assets/imgs/user_avatar.png">
      <a href='{{rev.url}}' class="card-link">{{rev.url}}</a>
      <br><br>
      <p *ngIf="rev.verified;"><i class="fa fa-check-circle" style="color:#3333ff;" aria-hidden="true"></i>&nbsp;&nbsp;Verified</p>
      
    </div>

    <div class="profile-info"><p class="card-title">{{rev.userName}}</p>
      <p class="card-text">{{rev.city}}, {{rev.country}}</p></div></div>
      
    <div class="feedback">
      
      <div class="star-widget">
        <span [ngStyle]="{color:rev.rating>=1?'#fd4':'rgb(87, 86, 86)'}" class="fa fa-star rate-1"></span>
        <span [ngStyle]="{color:rev.rating>=2?'#fd4':'rgb(87, 86, 86)'}" class="fa fa-star rate-2"></span>
        <span [ngStyle]="{color:rev.rating>=3?'#fd4':'rgb(87, 86, 86)'}" class="fa fa-star rate-3"></span>
        <span [ngStyle]="{color:rev.rating>=4?'#fd4':'rgb(87, 86, 86)'}" class="fa fa-star rate-4"></span>
        <span [ngStyle]="{color:rev.rating==5?'#fd4':'rgb(87, 86, 86)'}" class="fa fa-star rate-5"></span>
        <p class="card-date fa">&nbsp;&nbsp;{{rev.date}}</p></div>
        <p class="fb-text">{{rev.feedback}}</p>
     
    </div>
  
</div>

</div>
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>

