<div class="container">
  <h2 class="text-center">Main Services</h2>
    <div class="d-flex flex-wrap justify-content-center row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      <div class="col m-3" (click)="gotologin()">
        <div class="p-3 border bg-light text-center" ><img src="../../assets/images/carpenter.png">
        <h4 class="p-3">Carpenter</h4></div>
      </div>
      <div class="col m-3" (click)="gotologin()">
        <div class="p-3 border bg-light text-center"><img src="../../assets/images/plumber.png"><h4 class="p-3">Plumber</h4></div>
      </div>
      <div class="col m-3" (click)="gotologin()">
        <div class="p-3 border bg-light text-center"><img src="../../assets/images/painter.png"><h4 class="p-3">Painter</h4></div>
      </div>
      <div class="col m-3" (click)="gotologin()">
        <div class="p-3 border bg-light text-center"><img  src="../../assets/images/electrician.jpeg"><h4 class="p-3">Electrician</h4></div>
      </div>
      <div class="col m-3" (click)="gotologin()">
        <div class="p-3 border bg-light text-center"><img src="../../assets/images/pest control.png"><h4 class="p-3">Pest Control</h4></div>
      </div>
      <div class="col m-3" (click)="gotologin()">
        <div class="p-3 border bg-light text-center"><img src="../../assets/images/saloon for women.png"><h4 class="p-3">Saloon For Women</h4></div>
      </div>
      <div class="col m-3" (click)="gotologin()">
        <div class="p-3 border bg-light text-center"><img src="../../assets/images/saloon men.png"><h4 class="p-3">Saloon For Men</h4></div>
      </div>
      <div class="col m-3" (click)="gotologin()">
        <div class="p-3 border bg-light text-center"><img src="../../assets/images/repair.png"><h4 class="p-3">Applaince Repair</h4></div>
      </div>
      
    </div>
  </div>