
*{
    color:azure;
    font-family:'Neuton', serif;
    font-weight:500;
    font-size:26px;
   
}
.bg-color{
    background: linear-gradient(rgb(162, 0, 255),#b700ff);
}
.navbar-brand:hover{
    color: rgb(255, 255, 255);
}
.nav-link:hover{
    color: rgb(15, 29, 230);
    
}
.border{
color: white;
border-radius: 3px;
}
