<div class="container">
  
  <div class="container1 mt-5">
    <div class="backgrnd">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8" >
        <h2 class="text mt-4"><strong>Add services</strong>  </h2>
    <form class="form mt-5" #ref="ngForm" (ngSubmit)="addservices(ref)">
      
        <div class="form-floating mb-3 " >
          
            <input type="number" class="form-control" id="serviceId" placeholder="service Id" name="serviceId" ngModel>
            <label for="serviceId" class="usertext">Service Id</label>
          </div>
          
          <div class="form-floating mb-3" >
            <select type="text" class="form-control" id="mainservice" placeholder="mainservice" name="mainservice" ngModel>
              <option [value]="service" *ngFor="let service of services">{{service}}</option>
              </select>
            <label for="mainservice" class="usertext">Main service</label>
          </div>
          <div class="form-floating mb-3" >
            <input type="text" class="form-control" id="subservice" placeholder="subservice" name="subservice" ngModel>
            <label for="subservice" class="usertext">Sub-Service</label>
          </div>
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="price" placeholder="Price" name="price" ngModel>
            <label for="price" class="usertext">Service Price</label>
          </div>
          <div class="form-group mb-3">
            <textarea type="text" class="form-control " id="discreption" placeholder="description" name="discreption" ngModel>Description
           
            </textarea>
            
          </div>
          <div class="form-group mb-3" >
            <label for="uploadphoto" class="form-label">
              <input type="file" class="form-control" id="uploadphoto" (change)="incomingfile($event)" name="image" accept="image/*" placeholder="Upload file">
            </label>
          </div>         
          <div class="text-center mb-3">
            <button class="btn btn-style  ms-auto" value="submit"> Add Services </button>
          </div>
    </form>
  </div>
  <div class="col-2 my-3"><button class="btn btn-danger" (click)="logout()">Logout</button></div>
  </div>

</div>
<div class="container">
<div class="m-4 text-center">
  <button class="btn btn-style"type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Preview
  </button></div>
</div>
<div class="collapse" id="collapseExample">
  <table class="table table-striped table-hover align-middle">
    <thead>
      <tr>
        <th scope="col">service Id</th>
        <th scope="col">Images</th>
        <th scope="col">Main Service Name</th>
        <th scope="col">Sub-Service Name</th>
        <th scope="col">Price</th>
        <th scope="col">Update/Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let service of servicesArray">
        <th scope="row">{{service.serviceId}}</th>
        <th scope="row"><img [src]="service?.image" height="200px" width="auto"></th>
        <td id="editrow">{{service.mainservice}}</td>
        <td id="editrow">{{service.subservice}}</td>
        <td id="editrow">{{service.price}}</td>
        <td >
          <div class="row ">
          <div class="col-md-5 col-12 m-3 m-md-0"><button class="btn button-edit" id="editicon" (click)="update(service.serviceId)" >Edit</button ></div>
          <div class="col-md-5 col-12 m-3 m-md-0"><button class="btn button-delete" (click)="delete(service)">Delete</button></div>
        </div>
        </td>
      </tr>
    </tbody>
    
  </table>
</div>


</div>
</div>

           